<div class="padding-top-bottom-left">
    <legend>Device Orienation API Data</legend>
    <p>The device is uniquely identified on the dashboard by generated color.</p>
</div>
<div class="padding-left">
    <table class="table">
        <tbody>
            <tr>
                <td>
                  Generated colour:
                </td>
                <td>
                    <div class="deviceColour" style="background-color:{{ unbound model.displayColour }} "></div>
                </td>
            </tr>
            <tr>
                <td>Aplha [deg]: </td>
                <td> {{ model.orientationData.alpha }} </td>
            </tr>
            <tr>
                <td>Beta [deg]: </td>
                <td> {{ model.orientationData.beta }} </td>
            </tr>
            <tr>
                <td>Gamma [deg]: </td>
                <td> {{ model.orientationData.gamma }} </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar pull-left">
                {{#if startOn}}
                    <button {{ action 'stop' }} class="btn-danger">Stop</button>
                {{else}}
                    <button {{ action 'start' }} class="btn-primary">Start</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
