<div id="output">
    <table>
        <tbody>
            <tr>
                <td>Aplha: </td>
                <td>{{ orientation.data.alpha }}</td>
            </tr>
            <tr>
                <td>Beta: </td>
                <td>{{ orientation.data.beta }}</td>
            </tr>
            <tr>
                <td>Gamma: </td>
                <td>{{ orientation.data.gamma }}</td>
            </tr>
        </tbody>
    </table>
</div>

{{#if startOn}}
    <button {{action 'stop' }}>Stop</button>
{{else}}
    <button {{action 'start' }}>Start</button>
{{/if}}