<div class="padding-top-bottom-left">
    <legend>Device Orienation API Data</legend>
    <p>The device is uniquely identified on the dashboard by generated color.</p>
</div>
<div class="padding-left">
    <div class="deviceColour" style="background-color:{{unbound deviceColour}}"></div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Aplha: </td>
                <td>{{ model.data.alpha }}</td>
            </tr>
            <tr>
                <td>Beta: </td>
                <td>{{ model.data.beta }}</td>
            </tr>
            <tr>
                <td>Gamma: </td>
                <td>{{ model.data.gamma }}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-toolbar pull-right">
        {{#if startOn}}
            <button {{action 'stop' }} class="btn-danger">Stop</button>
        {{else}}
            <button {{action 'start' }} class="btn-primary">Start</button>
        {{/if}}
    </div>
</div>
