<div id="output" class="row">
    <h7>{{ model.device }}</h7>

    <div class="deviceColour" style="background-color:{{unbound deviceColour}}"></div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Aplha: </td>
                <td>{{ model.data.alpha }}</td>
            </tr>
            <tr>
                <td>Beta: </td>
                <td>{{ model.data.beta }}</td>
            </tr>
            <tr>
                <td>Gamma: </td>
                <td>{{ model.data.gamma }}</td>
            </tr>
        </tbody>
    </table>

    {{#if startOn}}
        <button {{action 'stop' }} class="btn-danger">Stop</button>
    {{else}}
        <button {{action 'start' }} class="btn-primary">Start</button>
    {{/if}}
</div>
