<h2> {{ model.name }} </h2>
<div id="output">

    <img src="assets/images/Orientation_Icon_128x128.png"></img>

    <table>
        <tbody>
            <tr>
                <td>Aplha: </td>
                <td>{{ model.data.alpha }}</td>
            </tr>
            <tr>
                <td>Beta: </td>
                <td>{{ model.data.beta }}</td>
            </tr>
            <tr>
                <td>Gamma: </td>
                <td>{{ model.data.gamma }}</td>
            </tr>
        </tbody>
    </table>
</div>

{{#if startOn}}
    <button {{action 'stop' }}>Stop</button>
{{else}}
    <button {{action 'start' }}>Start</button>
{{/if}}