<div id="output" class="row">
    <legend>Device ID generated using <a href="http://faisalman.github.com/ua-parser-js">ua-parser-js</a></legend>
    <h4>{{ model.device }}</h4>

    <img src="assets/images/Orientation_Icon_128x128.png"></img>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Aplha: </td>
                <td>{{ model.data.alpha }}</td>
            </tr>
            <tr>
                <td>Beta: </td>
                <td>{{ model.data.beta }}</td>
            </tr>
            <tr>
                <td>Gamma: </td>
                <td>{{ model.data.gamma }}</td>
            </tr>
        </tbody>
    </table>

    {{#if startOn}}
        <button {{action 'stop' }} class="btn-danger">Stop</button>
    {{else}}
        <button {{action 'start' }} class="btn-primary">Start</button>
    {{/if}}
</div>
