<div id="output">
    <table>
        <tbody>
            {{#each content }}
                <tr>
                    <td>
                        Device: {{ device }} <br/>
                        Aplha: {{ data.alpha }} <br/>
                        Beta: {{ data.alpha }} <br/>
                        Gamma:{{ data.gamma }} <br/>
                    </td>
                    <td>
                        <div id="">

                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="canvas"></div>
<button {{action 'start' }}>Start</button>