<div id="output">
    <table>
        <tbody>
            {{#each content }}
                <tr>
                    <td style="width:300px">
                        Device: {{ device }} <br/>
                        Aplha: {{ data.alpha }} <br/>
                        Beta: {{ data.alpha }} <br/>
                        Gamma:{{ data.gamma }} <br/>
                    </td>
                    <td>
                        <div id="canvas{{unbound deviceId}}" class="canvas">
                            <img url="{{unbound canvas}}"/>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>